*{
    margin: 0;
    padding: 0;
}

nav {
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
a{
    text-decoration: none;

}
a:hover{
    color: black;
}

.div-color{
    background-color: antiquewhite;
}